* {
    margin: 0px;
    padding: 0px;
}

.Main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
}


.Card {
    height: 350px;
    width: 350px;
    background-color: white;
    border: 1px solid white;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
}

img {
    margin: 14px;
    width: 320px;
    height: 150px;
    border: 1px solid white;
    border-radius: 17px;
}

.text {
    margin-left: 15px;
    background-color: rgba(137, 43, 226, 0.507);
    width: 80px;
    text-align: center;
    border: 1px solid rgb(87, 13, 156);
    border-radius: 20px;
}
.description {
    margin: 10px 0 25px 15px;
}
.name {
    margin-left: 15px;
}